.hero_wrapper {
  padding-top: 300px;
  padding-bottom: 50px;
  background-color: var(--teal-color);
}
.hero_wrapper .left_wrapper h1 {
  font-family: "GreycliffHebrewCF_bold";
  font-size: 80px;
  line-height: 72px;
  margin-bottom: 30px;
}
.hero_wrapper .left_wrapper h5 {
  font-family: "GreycliffHebrewCF_bold";
  font-size: 20px;
  margin-bottom: 50px;
}
.hero_wrapper .left_wrapper .add_to_cart {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}
.hero_wrapper .left_wrapper .add_to_cart button {
  width: 325px;
  height: 53px;
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--main-font);
}
.hero_wrapper .right_wrapper .mt-g-images {
  position: relative;
}
.hero_wrapper .right_wrapper .mt-g-images img {
  width: 100%;
  height: auto;
}
.hero_wrapper .minus-row {
  margin-top: 100px;
  margin-bottom: -150px;
}
.hero_wrapper .minus-row .white_box {
  box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.4);
  height: 200px;
  display: flex;
  align-items: end;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
  background-color: #FCFAF0;
  margin-bottom: 30px;
}
.hero_wrapper .minus-row .white_box p {
  font-size: 16px;
  color: darkgray;
}

.slider_white_bg {
  padding: 150px 0;
  min-height: 500px;
  background-color: var(--body-color);
}
.slider_white_bg .home_swiper {
  margin-top: 100px;
}
.slider_white_bg .wapper_inter {
  position: relative;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.35);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  overflow: hidden;
  margin: 10px;
}
.slider_white_bg .wapper_inter .fx-uuper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.slider_white_bg .wapper_inter .fx-uuper h3 {
  text-align: left;
  font-size: 24px;
  margin: 0 auto;
}
.slider_white_bg .wapper_inter .fx-uuper p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: var(--teal-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 20px;
}
.slider_white_bg .wapper_inter img {
  height: auto;
  width: 100%;
}
.slider_white_bg .wapper_inter button.dark {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: "GreycliffHebrewCF_bold";
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 30px;
}
.slider_white_bg .swiper_controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}
.slider_white_bg .swiper_controls .swiper-pagination {
  position: static;
  width: auto;
  line-height: 0;
}
.slider_white_bg .swiper_controls .swiper-pagination .swiper-pagination-bullet {
  background: var(--secondary-color);
  width: 20px;
  height: 20px;
}
.slider_white_bg .swiper_controls .swiper-button-prev {
  position: static;
  color: var(--secondary-color);
  font-size: 42px;
  margin: 0;
  transform: rotate(180deg);
}
.slider_white_bg .swiper_controls .swiper-button-next {
  position: static;
  color: var(--secondary-color);
  font-size: 42px;
  margin: 0;
  transform: rotate(180deg);
}
.slider_white_bg .swiper_controls .swiper-button-next:after,
.slider_white_bg .swiper_controls .swiper-button-prev:after {
  content: none;
}

.ct-img {
  width: 100%;
  height: auto;
}

.after_slider {
  padding: 120px 0;
  background-image: var(--main-color);
  background-image: url("../img/bg_after_slider.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.after_slider img {
  max-height: 300px;
  margin-bottom: 50px;
}
.after_slider h1 {
  margin-bottom: 30px;
}
.after_slider h4 {
  margin-bottom: 30px;
  font-weight: 400;
}
.after_slider button {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: "GreycliffHebrewCF";
  height: 50px;
  padding: 10px 25px;
}

.send_slider {
  background-color: var(--body-color);
  padding: 80px 0 200px 0;
}
.send_slider .homeslider_two .slider_two-wrapper {
  position: relative;
  box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.4);
  border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  -ms-border-radius: 17px;
  -o-border-radius: 17px;
  overflow: hidden;
  margin: 30px;
  background-color: var(--teal-color);
  padding: 20px;
}
.send_slider .homeslider_two .slider_two-wrapper .row {
  flex-direction: row;
}
.send_slider .homeslider_two .slider_two-wrapper .right_img {
  text-align: center;
  background-image: url("../img/sg_bg.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.send_slider .homeslider_two .slider_two-wrapper .right_img img {
  width: 100px;
  height: auto;
}
.send_slider .homeslider_two .slider_two-wrapper button {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: "GreycliffHebrewCF";
  height: 50px;
  padding: 10px 25px;
}
.send_slider .homeslider_two .slider_two-wrapper h3 {
  font-weight: 500;
  margin-bottom: 30px;
}
.send_slider .homeslider_two .slider_two-wrapper h4 {
  font-weight: 400;
  margin-bottom: 30px;
}
.send_slider .grid_sction {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 20px 20px 12px rgba(0, 0, 0, 0.4);
  margin: 30px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
}
.send_slider .grid_sction img {
  width: 100%;
  height: auto;
}
.send_slider .grid_sction .btm_g {
  position: relative;
  padding: 25px;
}
.send_slider .grid_sction .btm_g img {
  position: absolute;
  right: 0;
  top: -100px;
  height: 150px;
  width: auto;
}
.send_slider .grid_sction .btm_g p {
  margin: 0;
  padding-right: 50px;
}

.feild-bg {
  display: none;
}
.feild-bg img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) and (min-width: 992px) {
  .after_slider img {
    height: 200px;
  }
}
@media screen and (max-width: 1440px) and (min-width: 1024px) {
  .slider_white_bg .wapper_inter .fx-uuper h3 {
    text-align: left;
    font-size: 25px;
  }
  .slider_white_bg .wapper_inter .fx-uuper p {
    font-size: 14px;
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .rv-row {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 991px) {
  .after_slider {
    padding: 120px 0;
    background-color: var(--main-color);
    background-image: none;
  }
  .after_slider img {
    height: 200px;
  }
  .feild-bg {
    display: block;
  }
  .feild-bg img {
    max-height: 400px;
    width: 100%;
    object-fit: cover;
  }
  .ggs {
    flex-direction: row-reverse;
  }
}
@media screen and (max-width: 767px) {
  .after_slider {
    padding: 60px 0;
    background-color: var(--main-color);
    background-image: none;
  }
  .after_slider img {
    height: 150px;
    position: relative;
    right: -70px;
  }
}
@media screen and (max-width: 500px) {
  .send_slider .homeslider_two .slider_two-wrapper .right_img img {
    width: 55px;
    height: auto;
  }
  .send_slider .homeslider_two .slider_two-wrapper button {
    font-size: 16px;
    padding: 10px 15px;
  }
  .slider_white_bg .wapper_inter .fx-uuper h3 {
    text-align: left;
    font-size: 25px;
  }
  .slider_white_bg .wapper_inter .fx-uuper p {
    font-size: 14px;
    height: 70px;
    width: 70px;
  }
  .white_box p {
    font-size: 14px;
  }
  .hero_wrapper .left_wrapper h1 {
    font-family: "GreycliffHebrewCF_bold";
    font-size: 60px;
    margin-bottom: 50px;
  }
  .after_slider button {
    height: auto;
  }

  footer .footer-links {
    margin-top: -85px !important;
  }

  .hero_wrapper {
    padding-top: 150px;
  }
}/*# sourceMappingURL=home-page.css.map */