.hero_wrapper {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: var(--main-color);
}
.hero_wrapper .left_wrapper h3 {
  font-weight: 500;
}
.hero_wrapper .left_wrapper h3.red {
  color: red;
  position: absolute;
  margin-top: -33px;
}
.hero_wrapper .left_wrapper .reviews {
  display: flex;
  align-items: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}
.hero_wrapper .left_wrapper .reviews span {
  display: flex;
  align-items: center;
}
.hero_wrapper .left_wrapper .reviews p {
  margin: 0;
}
.hero_wrapper .left_wrapper .price {
  margin-top: 50px;
  font-family: "GreycliffHebrewCF";
  margin-bottom: 30px;
}
.hero_wrapper .left_wrapper .quantity-section {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.hero_wrapper .left_wrapper .quantity-section button {
  height: 60px;
  width: 60px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: transparent;
  font-size: 36px;
}
.hero_wrapper .left_wrapper .quantity-section span {
  width: 50px;
  text-align: center;
  display: inline-block;
}
.hero_wrapper .left_wrapper .add_to_cart {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}
.hero_wrapper .left_wrapper .add_to_cart button {
  width: 325px;
  height: 53px;
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--main-font);
}
.hero_wrapper .left_wrapper .thursted_certificates {
  display: flex;
  align-items: baseline;
  gap: 60px;
  margin-top: 150px;
  margin-bottom: 50px;
}
.hero_wrapper .left_wrapper .thursted_certificates img {
  width: auto;
  height: 130px;
}
.hero_wrapper .right_wrapper .gallery-top .swiper-slide {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.hero_wrapper .right_wrapper .gallery-top .swiper-slide img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.frequently_brought {
  background-color: var(--body-color);
  padding: 80px 0;
}

.border-custom {
  border: 1px solid var(--secondary-color);
}
.border-custom.br {
  border-top: 0;
  border-left: 0;
}
.border-custom.br:last-of-type {
  border-bottom: 0;
}

.product-img {
  background-color: transparent;
  padding: 15px 30px 15px 30px;
}
.product-img img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.g1 {
  flex: 1 1 auto;
}

.product-description {
  color: var(--secondary-color);
}

.price {
  font-weight: bold;
  color: var(--secondary-color);
}

.total-price {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-btn {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  padding: 15px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--main-font);
}

.cart-btn:hover {
  background-color: var(--secondary-color);
}

.pd_s {
  padding: 120px 0;
  background-color: var(--secondary-color);
}
.pd_s h1 {
  color: var(--white-color);
  margin-bottom: 80px;
}
.pd_s .capsule {
  padding: 10px;
  background-color: var(--main-color);
  margin-bottom: 25px;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.pd_s .capsule h5 {
  color: var(--secondary-color);
  text-align: center;
}

.whats_inside {
  padding: 80px 0;
  background-color: var(--body-color);
}
.whats_inside .product_wrapper {
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.whats_inside .product_wrapper img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.whats_inside .product_wrapper h5 {
  margin: 15px 0;
}
.whats_inside .product_wrapper p {
  margin: 0;
}

.body_thanks {
  padding: 120px 0;
  background-color: var(--secondary-color);
}
.body_thanks h1 {
  color: var(--main-color);
  margin-bottom: 80px;
}
.body_thanks h5 {
  color: var(--white-color);
  margin-bottom: 80px;
}
.body_thanks .icon_wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 15px;
}
.body_thanks .icon_wrapper img {
  height: 130px;
  width: auto;
}
.body_thanks .icon_wrapper h5 {
  text-align: center;
  margin-bottom: 0;
}

.info_pd {
  padding: 80px 0;
  background-color: var(--main-color);
  background-image: url("../img/bottle_side.png");
  background-position: -15% 200px;
  background-repeat: no-repeat;
  background-size: 650px;
  width: 100%;
}
.info_pd .info-card {
  background-color: var(--white-color);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}
.info_pd .info-card .info-card-header {
  padding: 15px;
}
.info_pd .info-card .info-card-header h1 {
  text-align: center;
  margin: 0;
}
.info_pd .info-card .info-card-body {
  padding: 15px;
  background-color: #ffb0a5;
}
.info_pd .info-card .info-card-body table h5 {
  margin: 0;
}
.info_pd .info-card .info-card-body table p {
  margin: 0;
}
.info_pd .info-card .info-card-body table th {
  border-bottom: 1px solid var(--secondary-color);
  padding: 10px;
}
.info_pd .info-card .info-card-body table td {
  padding: 10px;
}

.testimonial {
  padding: 120px 0 0;
  background-color: var(--secondary-color);
}
.testimonial h1 {
  color: var(--main-color);
  width: 50%;
  margin: 0 auto 80px;
}
.testimonial .c_ratings {
  background-color: var(--white-color);
  padding: 38px;
  text-align: center;
}
.testimonial .c_ratings span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.testimonial .swiper_controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}
.testimonial .swiper_controls .swiper-pagination {
  position: static;
  width: auto;
}
.testimonial .swiper_controls .swiper-pagination .swiper-pagination-bullet {
  background: var(--white-color);
  width: 20px;
  height: 20px;
}
.testimonial .swiper_controls .swiper-button-prev {
  position: static;
  color: var(--white-color);
  font-size: 42px;
  margin: 0;
}
.testimonial .swiper_controls .swiper-button-next {
  position: static;
  color: var(--white-color);
  font-size: 42px;
  margin: 0;
}
.testimonial .swiper_controls .swiper-button-next:after,
.testimonial .swiper_controls .swiper-button-prev:after {
  content: none;
}

.reason {
  padding: 120px 0;
  background-color: var(--body-color);
}
.reason h1 {
  margin-bottom: 100px;
}
.reason .mb-80 {
  margin-bottom: 80px;
}

.buy-now-paralax {
  padding: 120px 0 250px 0;
  background-image: url("../img/buy-n-w-bg.jpg");
  background-position: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
}
.buy-now-paralax button.btn.buy-now {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  padding: 15px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--main-font);
  min-width: 300px;
}

.similer_product {
  padding: 110px 0;
  background-color: var(--body-color);
}
.similer_product h4 {
  margin-bottom: 80px;
}
.similer_product .sm_product_wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding: 15px;
  margin-bottom: 30px;
}
.similer_product .sm_product_wrapper img {
  height: 300px;
  width: auto;
}
.similer_product .sm_product_wrapper .pd_name {
  min-width: 100%;
}
.similer_product .sm_product_wrapper .pd_des {
  min-width: 100%;
  margin-bottom: 50px;
}
.similer_product .sm_product_wrapper .sm_pd_price {
  min-width: 100%;
  font-weight: 400;
}
.similer_product .sm_product_wrapper button.buy-now {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  padding: 15px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--main-font);
  min-width: 100%;
}

.emp_comunity {
  padding: 80px 0 150px 0;
  background-image: url("../img/upper_ft_bg.jpg");
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.emp_comunity .container {
  padding-bottom: 300px;
}

.emp_comunity button.learn_more {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 21px;
  border-radius: 5px;
  padding: 15px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: var(--main-font);
  min-width: 300px;
  display: block;
  margin: 30px auto;
  margin-bottom: 150px;
}

.gallery-thumbs img {
  border-radius: 20px;
}

.slider_white_bg {
  padding: 0 0 250px;
  min-height: 500px;
}
.slider_white_bg .home_swiper {
  margin-top: 100px;
}
.slider_white_bg .wapper_inter {
  position: relative;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.35);
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  overflow: hidden;
  margin: 10px;
}
.slider_white_bg .wapper_inter .fx-uuper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.slider_white_bg .wapper_inter .fx-uuper h3 {
  text-align: left;
  font-size: 24px;
  margin: 0 auto;
}
.slider_white_bg .wapper_inter .fx-uuper p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background-color: var(--teal-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 20px;
}
.slider_white_bg .wapper_inter img {
  height: auto;
  width: 100%;
}
.slider_white_bg .wapper_inter button.dark {
  border: 1px solid var(--secondary-color);
  color: white;
  background-color: var(--secondary-color);
  font-size: 18px;
  border-radius: 5px;
  padding: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-transform: uppercase;
  font-family: "GreycliffHebrewCF_bold";
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 10px 20px;
}
.slider_white_bg .swiper_controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}
.slider_white_bg .swiper_controls .swiper-pagination {
  position: static;
  width: auto;
  line-height: 0;
}
.slider_white_bg .swiper_controls .swiper-pagination .swiper-pagination-bullet {
  background: var(--secondary-color);
  width: 15px;
  height: 15px;
}
.slider_white_bg .swiper_controls .swiper-button-prev {
  position: static;
  color: var(--secondary-color);
  font-size: 42px;
  margin: 0;
  transform: rotate(180deg);
}
.slider_white_bg .swiper_controls .swiper-button-next {
  position: static;
  color: var(--secondary-color);
  font-size: 42px;
  margin: 0;
  transform: rotate(180deg);
}
.slider_white_bg .swiper_controls .swiper-button-next:after,
.slider_white_bg .swiper_controls .swiper-button-prev:after {
  content: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .total-price {
    text-align: left;
  }
  .cart-btn {
    width: 100%;
    margin-top: 10px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 1024px) {
  .info_pd {
    padding: 80px 0;
    background-color: var(--main-color);
    background-image: url(../img/bottle_side.png);
    background-position: -60% 320px;
    background-repeat: no-repeat;
    background-size: 650px;
    width: 100%;
  }
  .slider_white_bg .wapper_inter .fx-uuper h3 {
    text-align: left;
    font-size: 25px;
  }
  .slider_white_bg .wapper_inter .fx-uuper p {
    font-size: 14px;
    height: 70px;
    width: 70px;
  }
}
@media screen and (max-width: 1199px) {
  .info_pd {
    padding: 80px 0;
    background-color: var(--main-color);
    background-image: none;
    background-position: -60% 320px;
    background-repeat: no-repeat;
    background-size: 650px;
    width: 100%;
  }
  .hero_wrapper .row {
    flex-direction: column-reverse;
  }
  .hero_wrapper .left_wrapper {
    margin-top: 50px;
  }
  .hero_wrapper .left_wrapper .add_to_cart {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  .hero_wrapper .left_wrapper .add_to_cart button {
    width: 150px;
    height: 53px;
    border: 1px solid var(--secondary-color);
    color: white;
    background-color: var(--secondary-color);
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-transform: uppercase;
    font-family: var(--main-font);
  }
  .hero_wrapper .left_wrapper .thursted_certificates {
    display: flex;
    align-items: baseline;
    gap: 30px;
    margin-top: 80px;
  }
  .hero_wrapper .left_wrapper .thursted_certificates img {
    width: auto;
    height: 90px;
  }
}
@media screen and (max-width: 767px) {
  .reason {
    padding: 60px 0;
    background-color: var(--body-color);
  }
  .reason h1 {
    margin-bottom: 100px;
  }
  .reason .mb-80 {
    margin-bottom: 50px;
  }
  .reason img {
    margin-bottom: 30px;
    width: 150px;
    display: block;
    margin: 0 auto 30px;
  }
  .reason .rvs {
    flex-direction: column-reverse;
  }
  .reason h4 {
    text-align: center !important;
  }
  .reason p {
    text-align: center !important;
  }
  .reason .text-end {
    text-align: center !important;
  }
  .border-custom {
    border: 1px solid var(--secondary-color);
  }
  .border-custom.br {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .border-custom.br:last-of-type {
    border-bottom: 1px solid var(--secondary-color);
  }
  .hero_wrapper .row {
    flex-direction: column-reverse;
  }
  .hero_wrapper .left_wrapper {
    margin-top: 50px;
  }
  .hero_wrapper .left_wrapper .add_to_cart {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  .hero_wrapper .left_wrapper .add_to_cart button {
    width: 150px;
    height: 53px;
    border: 1px solid var(--secondary-color);
    color: white;
    background-color: var(--secondary-color);
    font-size: 16px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-transform: uppercase;
    font-family: var(--main-font);
  }
  .hero_wrapper .left_wrapper .thursted_certificates {
    display: flex;
    align-items: baseline;
    gap: 30px;
    margin-top: 80px;
  }
  .hero_wrapper .left_wrapper .thursted_certificates img {
    width: auto;
    height: 90px;
  }
  .body_thanks, .pd_s, .frequently_brought, .testimonial {
    padding: 60px 0;
  }
  footer .footer-links {
    margin-top: -85px !important;
  }

  .buy-now-paralax {
    background-position: 28%;
  }
  
  .buy-now-paralax .container{
    padding-top: 65px;
  }
}/*# sourceMappingURL=product-page.css.map */

@media screen and (max-width: 500px) { 
  .slider_white_bg .wapper_inter .fx-uuper h3 {
    text-align: left;
    font-size: 25px;
  }
  .slider_white_bg .wapper_inter .fx-uuper p {
    font-size: 14px;
    height: 70px;
    width: 70px;
  }
}