.hero-scientist {
  min-height: 800px;
  background-image: url("../img/eldrely-woman-yoga.jpg");
  background-position: 100% 25%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: scroll;
  display: flex;
  align-items: center;
}

.about-sequoia {
  background-color: #1a1a1a;
  color: #fff;
  padding: 40px 0;
  text-align: right;
}

.about-sequoia p {
  line-height: 1.6;
  color: #f1f1f1;
  margin-bottom: 20px;
}

.team-profiles {
  background-color: #F9F5E9;
  padding: 0px 0 156px;
}

.team-name {
  color: #131313;
  margin-bottom: 15px;
}

.team-description {
  line-height: 1.6;
  color: #1d1d1b;
}

.team-profiles .img-fluid {
  max-width: 100%;
  height: auto;
}

.team-profiles .text-container {
  padding: 0 100px !important;
}

@media screen and (max-width: 991px) {
  .hero-scientist {
    min-height: 500px;
  }
}
@media screen and (max-width: 767px) {
  .hero-scientist {
    background-position: 41% 9%;
  }
  .hero-scientist .container {
    padding-bottom: 150px;
  }
  .disclaimer-section {
    margin-bottom: 0px;
    padding: 50px 30px 0;
  }
  .about-sequoia {
    text-align: center;
  }
  .about-sequoia p {
    font-size: 1rem;
  }

  .team-name {
    font-size: 1.75rem;
  }

  .team-description {
    font-size: 1rem;
  }

  .team-profiles .img-container {
    order: 1;
  }

  .team-profiles .text-container {
    order: 2;
    padding: 50px 30px !important;
  }
}