html[dir="rtl"] {
  .navbar.bg-main{
    .container-fluid{
      padding: 0 1.5rem;
    }
  }
  header .navbar-nav {
    margin-left: auto;
    gap: 30px;
}
  .navbar-brand{
    margin-right: 0;
    margin-left: var(--bs-navbar-brand-margin-end);
  }
  .border-custom.br {
    border-top: 0;
    border-left: 1px solid;
    border-right: 0;
  }
  .info_pd {
    background-position: 110% 15%;
  }
  .testimonial .swiper_controls .swiper-button-prev {
    transform: rotate(180deg);
  }
  .testimonial .swiper_controls .swiper-button-next {
    transform: rotate(180deg);
  }
  footer .newsletter .input-group .input-group-text {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    margin-right: -2px;
    z-index: 9;
  }
  footer .newsletter .input-group input {
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
  }
  .empowering-section-aboutus {
    background-image: url("../img/bg-sec-rtl.jpg");
}
.how-it-made {
  
  background-position: 10% 125%;
  background-repeat: no-repeat;
}
}
@media screen and (max-width: 991px) {
  html[dir="rtl"] {
    .how-it-made {
      min-height: 500px;
      background-size: 400px;
      background-position: 10% 135%;
  }
  .empowering-section-aboutus{
     background-color: #000000;
     background-image: none;
  }
  .feild-bg{
      display: block;
    img{
      max-height: 400px;
      width: 100%;
      object-fit: cover;
    }
  }
}
}
